
.grid-container{
    display: grid;
    min-height: 500px;
    max-height: 500px;
    max-width: 499px;
    min-width: 500px;
    justify-self: center;
}
.Main-Container{
   display: grid;
   min-height: 700px;
   min-width: 600px;
   background: #cf0000;;
   border-radius: 5%;
}
span{    
    padding-top: 2%;
    justify-self: center;
    color: #FFE6C9;
    font-family: "Brush Script MT"
    ;
    font-size: 60px;
   
}

.buttons{
    justify-self: center;
}

.knob{
    padding: 1rem;
    bottom: 40px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: white;
}
.knob-container{
    display:inline-flex;
    justify-content: space-between;

    
}

.rightKnob{
    margin: 12px;
}
.leftKnob{
    margin: 12px;
}

.Main-Container{
    max-width: 500px;
    margin: auto;
}





